:root {
  --color-black: #000000;
  --color-dark: #18181B;
  --color-gray: #27272A;
  --color-zinc: #9F9FAA;
  --color-red: #FB2B37;
  --color-yellow: #FDC800;
  --color-green: #00C951;
  --color-blue: #96BAEC;

  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --container-width: 1024px;
  --container-padding-x: 16px;

  --border: 2px solid var(--color-gray);

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  line-height: 1.2;
  color: var(--color-zinc);
  background-color: var(--color-black);
}

a {
  transition-duration: var(--transition-duration);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.main {
  padding-block: 60px;
}

.about-us {
  --paddingX: 16px;

  overflow: hidden;
  background-color: var(--color-dark);
  border-radius: 6px;
}

.about-us__header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4px 48px;
  background-color: var(--color-gray);
}

.about-us__decor-controls {
  position: absolute;
  top: 50%;
  left: var(--paddingX);
  translate: 0 -50%;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.about-us__decor-controls-button {
  background-color: var(--bg);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.about-us__title {
  font-size: inherit;
  font-weight: 600;
}

.about-us__body {
  padding: 20px var(--paddingX);
  border: var(--border);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.about-us__description:first-child {
  margin-top: 0;
}

.about-us__description:last-child {
  margin-bottom: 0;
}

.about-us__description > * {
  margin-block: 18px;
}

.about-us__description strong {
  color: var(--color-blue);
  font-weight: 600;
}

.about-us__description :is(h1, h2, h3, h4, h5, h6) {
  font-size: 17px;
}

.about-us__description ul {
  padding-left: 20px;
}

.about-us__description ul li + li {
  margin-top: 8px;
}

.about-us__description a {
  position: relative;
  color: var(--color-blue);
  text-decoration: none;
}

.about-us__description a::before {
  content: '';
  position: absolute;
  inset: -4px;
}

.about-us__projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8px;
}

.about-us__projects-image {
  width: 100%;
  aspect-ratio: 492 / 280;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
}

@media (any-hover: hover) {
  a:hover {
    opacity: 0.75;
  }
}

@media (any-hover: none) {
  a:active {
    opacity: 0.75;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .main {
    padding-block: 40px;
  }

  .about-us__description :is(h1, h2, h3, h4, h5, h6) {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .about-us__projects-list {
    grid-template-columns: repeat(1, 1fr);
  }
}